.main-body{
    background-color:  #551A25;
}
body{
    margin: 0;
    padding: 0;
}
.arrow-down{
    width:60px;
    height:40px;
    margin:0 0 0 -30px;
    position:absolute;
    left:50%;
    bottom:0px;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
    
  }
  
  .arrow-down:hover{
     -webkit-animation-play-state: paused;
  }
  
  .left{
    position:absolute;
    height:10px;
    width:40px;
    background:#551A25;
    -webkit-transform:rotate(240deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }
  
  .right{
    position:absolute;
    height:10px;
    width:40px;
    background:#551A25;
    -webkit-transform:rotate(-60deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
  }
  
  
  
  
  @-webkit-keyframes arrow{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
  }
  
  
  @-webkit-keyframes leftArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(225deg);
    }
  }
  
  @-webkit-keyframes rightArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(-45deg);
    }
  }
  .feature-paragraph{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .main-heading{
    font-family:'Courier New', Courier, monospace ;
    font-style:italic;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .gallery-item{
    background-color: #551A25;
    margin-top: 15vh;
    clear: both;
    
  }
  .about-para{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }
  .contact-data{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-style: italic;
  }
 
/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:0;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
.follow-icons{
    margin-left: 45%;
}  
.main-footer{
    margin: 0;
}
